<!DOCTYPE html>
<html>
   <% include ./elements/head %>
    <body>
        <div id="wrapper">
            <% include ./elements/nav %>
            <div id="page-wrapper">
                <% include ./elements/title %>
                <%- body %>
            </div>
        </div>
        <% include ./elements/scripts %>
    </body>
</html>